@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Karla", sans-serif;
  --font-merriweather: "Merriweather", serif;

  --color-primary: #ff5757;
  --color-neutral: #bfb8b0;
  --color-secondary: #e5e7eb;
  --color-dark: #3b3b3b;
  --color-white: #ffffff;
}
